<h1>ngrx1-view </h1>
<h2>numberV</h2>
<p>numberV$: {{numberV$ | async}}</p>
<button (click)="AddNumberV(10)">Add 10 to numerV Store</button>
<button (click)="ReserNumberV()">Reset numerV Store</button>

<h2>Users</h2>
<ul>
  <li *ngFor="let user of (users$ |async) " (click)="selectArticlesByIserId(user.id)">
    <button>{{user.name}}</button>
  </li>
</ul>
<p>Users</p>
<button (click)="getUser()">SetUser</button>
<button (click)="resetUser()">resetUser</button>

<ul>
  <p>Articles</p>
  <li *ngFor="let article of (articles$ |async) ">{{article.title}}</li>
</ul>

<button (click)="selectArticlesByIserId(1)">test</button>
