<h1>ngrx1-view </h1>

<h2>Authors</h2>
<ul>
  <li *ngFor="let user of (users$ |async) ">

   <button (click)="selectUser(user.id)"
           [ngClass]="{selected: (selectedUser === user.id) }">{{user.name}}</button>
  </li>
  <li><button (click)="selectAllUser()"> All Users articles</button></li>
</ul>
<h2>Articles</h2>
<ul>
  <li *ngFor="let article of visibleArticles ">
    <!--      (click)="selectArticlesByUserId(user.id)"-->

    <button (click)="selectArticle(article.id)"
            [ngClass]="{selected: (selectedArticle === article.id) }">{{article.title}}</button>
  </li>
</ul>
<h2>Articles text</h2>

<div style="width: 400px">{{currentArticleText}}</div>

<!--<p>selectedUser: {{selectedUser}}</p>-->
<!--<p>selectedArticle: {{selectedArticle}}</p>-->
