<h1> Simple examples about bindings </h1>

<h2>Interpolation</h2>
<p>massage1: {{massage1}}</p> <!--"Showing component properties with interpolation" -->
<p>simple calculations: 2+2 = {{2+2}}</p>

<h2>Property binding</h2>
<button [disabled] = "isDisabled"> button disabled </button>

<h2>Class binding </h2>
<p [class.red-color]="true">class.red-color true </p>
<p [class.red-color]="false">class.red-color false</p>

<h2>Style binding</h2>
<div [style.width.px]="300"
     [style.background-color]="backgroundColor">
  [style.width.px]="100" Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Debitis deleniti eaque eius facilis natus quam quasi repellendus rerum vel velit.
</div>

<h2>Event binding</h2>
<button (click)="onClick1($event)">button</button>
<p *ngFor="let x of clickArray"> {{x}}</p>

<h2>Two-way binding</h2>
<label>Type here: <input type="text" [(ngModel)]="ngModelVar"> {{ngModelVar}}</label>
<input type="text" [(ngModel)]="ngModelVar">

<!--ngFor example-->
<ul> <b>*ngFor example </b>
  <li *ngFor="let name of names">
    id: {{name.id}} - name: {{name.name}}
  </li>
</ul>


