.grid0-container {
  background-color: aqua;
  border: solid 1px black;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.grid0-item {
  text-align:center;
  padding: 0.5em;
  background-color: #EEEEEE;
  border: solid 1px black;
}
